<div class="">
    <%= link_to 'Add billings', new_card_billing_path %><br>
</div>

</div>

<table  id="billings-datatable" data-source="<%= card_billings_path(format: :json) %>" >
    <thead>
        <tr>
            <td>Name</td>
            <td>CardNumber</td>
            <td>CVV</td>
            <td>PostalCode</td>
            <td>Validfrom</td>
            <td>Validthru</td>
            <td>TotalAmount</td>
            <td>AmountPaid</td>
            <td>AmountDue</td>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>
<script>
$(document).ready(function() {
    $('#billings-datatable').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#billings-datatable').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        {"data": "name"},
        {"data": "card_number"},
        {"data": "cvv"},
        {"data": "postal_code"},
        {"data": "valid_from"},
        {"data": "valid_thru"},
        {"data": "total_amount"},
        {"data": "amount_paid"},
        {"data": "due_amount"},
      ]
    });
  });
</script>